* {
    margin: 0;
}

.icon {
    width: 100%;
    height: 71px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    &:last-of-type {
        margin: 0;
    }

    &--hovered {
        @extend .icon;
        background-color: #2a2c4d;
        border-left: 9px solid #dadaed;
    }
    &:hover {
        @extend .icon--hovered;
    }

    &__img {
        width: 35px;
    }

    &__title {
        font-size: 13px;
        color: #d6d6d6;
        font-weight: normal;
        margin: 0;
    }
}