.item {
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    padding: 1rem;

    &--checked {
        @extend .item;
        background-color: #F3F2F1;
    }

    &__box {
        box-sizing: border-box;
        height: 1rem;
        width: 1rem;
        border: 1px solid #464772;
        border-radius: 2px;
        cursor: pointer;


        &--checked {
            @extend .item__box;
            background-color:#464772;;
        }
    }

    &__title {
        font-family: 'Segoe UI';
        margin: 0;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: black;
        margin-left: 0.8rem;
        &--checked {
            @extend .item__title;
            color: #464772;
        }
    }
}