* {
  font-family: 'Segoe UI';
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


.sidebar {
  width: 99px;
  height: calc(100vh - 80px);
  background-color: #323247;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}
