* {
  font-family: 'Segoe UI';
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


.sidebar {
  min-width: 99px;
  width: 99px;
  height: calc(100vh - 80px);
  background-color: #323247;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0 0.3rem 0;
  overflow: hidden;

  & :nth-child(4) h5 {
    margin-top: 5px;
  }
  & :nth-child(5) h5 {
    margin-top: 5px;
  }
}
