.header {
    height: 80px;
    width:100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #464772;
    padding: 0 1rem 0 2.5rem;
    position: relative;

    &__box {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-top: 10px;
        font-family: 'Segoe UI';
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #ffffff;
        margin-left: 50px;
    }

    &__search {
        margin-left: 1rem;
        height: 3rem;
        width: 45vw;
        padding-left: 3rem;
        background-color: #D6D7E0;
        border-radius: 5px;
        outline: none;
        border: none;
        color: black;
        &::placeholder {
            color: black;
            font-family: 'Segoe UI';
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.11;
            letter-spacing: normal;
            color: #323232;
        }
    }

    &__icon {
        
    }
}